[submodule "Distro"]
	path = Distro
	url = https://github.com/camicroscope/Distro.git
[submodule "codalab"]
	path = codalab
	url = https://github.com/QTIM-Lab/codalab-competitions.git
[submodule "medici_docker_submission_worker"]
	path = medici_docker_submission_worker
	url = https://github.com/QTIM-Lab/competitions-v1-compute-worker.git
